---
layout: base
title: Home
pagination:
  data: photos.xxxmtks.media
  size: 18
---
<head>
  <link rel="stylesheet" href="/_includes/about-us.html">
</head>

<main>
    <!-- About part -->
    <div style="cursor: pointer;" class="about_part-title">
        <h3 class="about-heading" style="margin: 20px 0 20px; text-align: center; font-size: 25px;">About Us</h3>
    </div>
    <!-- Photo Part -->
    <div class="photo-part" style="padding-left: 80px;">
      <ul>
          {% for photo in pagination.items -%}
          <li style="display:inline"> <a href="/{{ photo.id }}/">
              <img src="{{photo.src.tiny}}" alt="{{photo.alt}}"></a>
          </li>
          {% endfor -%}
      </ul>
    </div>
    <nav>
      {% if pagination.href.previous %}
      <a href="{{pagination.href.previous}}"><b>Previous Page</b></a></li>
      {% else %}
      &nbsp;
      {% endif %}

      {% if pagination.href.next %}
      <a href="{{pagination.href.next}}"><b>Next Page</b></a>
      {% endif %}
    </nav>
</main>

<footer>
    <hr>
    <p>
        <small>
            <a href="https://www.pexels.com">Photos provided by Pexels</a>
        </small>
    </p>
</footer>

