---
layout: base
title: Home
pagination:
    data: photos.g4r3co3.media
    size: 24
    alias: photo
---
<header>
    <h1>{{ title}} </h1>
</header>
<body style="margin:30px;padding:30px">
    <ul>
        {% for photo in pagination.items -%}
        <li style="display:inline; padding-left: 5px; border: 10px"> <a href="/{{ photo.id }}/">
            <img src="{{photo.src.tiny}}" alt="{{photo.alt}}"></a>
        </li>
        {% endfor -%}
    </ul>
        <nav>
            {% if pagination.href.previous %}
            <a href="{{pagination.href.previous}}"><b>Previous</b></a></li>
            {% else %}
            &nbsp;
            {% endif %}
        
            {% if pagination.href.next %}
            <a href="{{pagination.href.next}}"><b>Next</b></a>
            {% endif %}
        </nav>
    
   
</body>

<footer>
    <hr>
    <p>
        <small>
            <a href="https://www.pexels.com">Photos provided by Pexels</a>
        </small>
    </p>
</footer>
