---
layout: base
title: Photos
pagination:
    data: photos.xxxmtks.media
    size: 1
    alias: photo
permalink: "/{{photo.id}}/"
---

<h1>{{title}}</h1>

{{ photo.id }} 

{{photo.photographer_url}}

{{photo.photographer}}

<img src="{{photo.src.landscape}}" alt="{{photo.alt}}">

<nav>
    {% if pagination.href.previous %}
    <a href="{{pagination.href.previous}}"><b>Previous</b></a></li>
    {% else %}
    &nbsp;
    {% endif %}

    {% if pagination.href.next %}
    <a href="{{pagination.href.next}}"><b>Next</b></a>
    {% endif %}
</nav>