---
layout: base
title: Photos
pagination:
    data: photos.xxxmtks.media
    size: 1
    alias: photo
permalink: "/{{photo.id}}/"
---
<main>
<body style="color: white;background: {{photo.avg_color}}">
<h1 style= "font-size: 40px; color: white;text-align: center">{{photo.alt}}</h1>

  <p style = "text-align: center"> <img src="{{photo.src.landscape}}" alt="{{photo.alt}}"> </p>
  <p style= "color: white;text-align: center"> Photo ID - {{ photo.id }} </p>
  <p style= "color: white;text-align: center"> Photographer - <a href="{{photo.photographer_url}}"> {{photo.photographer}} </a> </p>

  <nav>
      {% if pagination.href.previous %}
      <a href="/CPSC349-Project-1{{pagination.href.previous}}"><b>Previous</b></a></li>
      {% else %}
      &nbsp;
      {% endif %}

      {% if pagination.href.next %}
      <a href="/CPSC349-Project-1{{pagination.href.next}}"><b>Next</b></a>
      {% endif %}
  </nav>
</body>
</main>
