---
site: CPSC 349 - Fall 2022 - Project 1
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} - {{ site }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="/_site/index.html">
</head>

<header>
  <!-- Header part -->
  <div onclick="javascript:clickinner(this);" class="header" style="background-color: #05a081; color: white; text-align: center; height: 100px; margin-left: 112px; margin-right: 112px; cursor: pointer;">
      <h1 style="margin: 0 0; line-height: 100px; font-size: 40px;">Home</h1>
  </div>
</header>

<script>
  function clickinner(target) { // Target refers to the clicked element
    location.href='http://localhost:8080/index.html';
  };
</script>

<body>
    {{ content }}
</body>
</html>

